{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ҚБТУ ғимаратындағы өрт кезіндегі тәртіп ережелері</title>
	<meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1 user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	
	<link href="{% static 'videos/img/favicon.png '%}" rel="shortcut icon" />
		
	<link rel="stylesheet" href="{% static 'videos/css/style.css' %}">		
	<link rel="stylesheet" href="{% static 'videos/css/slick.css' %}">		
	<link rel="stylesheet" href="{% static 'videos/css/materialize.min.css' %}">		
	<link rel="stylesheet" href="{% static 'videos/css/font-awesome.min.css' %}">		
</head>
<body>

	<div class="navbar">
		<div class="container">
			<div class="site-title">
				<a href="{% url 'mainn' %}"><img src="{% static 'videos/img/logot.png' %}" alt="Logo" style="width: 120px; height: 50;"></a>
				
			</div>
			<div class="language-selection">
				<div class="selected-language">
					<img id="selected-language-flag" src="{% static 'videos/img/kaz-flag.png' %}" alt="">
					<i class="fa fa-angle-down"></i>
				</div>
				<ul class="language-list">
					<li class="language-item"><a href="{% url 'video_en' %}"><img src="{% static 'videos/img/en-flag.png' %}" alt=""> EN</a></li>
					<li class="language-item"><a href="{% url 'video_ru' %}"><img src="{% static 'videos/img/russia-flag.png' %}" alt=""> RU</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="video-single app-pages">
		<div class="video-iframe">
			<iframe src="https://www.youtube.com/embed/GzdZ05fRgLs" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="container">
			<div class="entry">
				<h5>ҚБТУ ғимаратындағы өрт кезіндегі тәртіп ережелері</h5>
				<div class="description">
					<h6>Сипаттама</h6>
				</div>
				<p>Бұл бейнеде біз ҚБТУ ғимаратындағы өрт кезіндегі тәртіп ережелері туралы егжей-тегжейлі айтып береміз. Өрт болған жағдайда қалай әрекет ету керектігін, құтқару кезінде қайда бару керектігін және қауіпсіз эвакуациялауды үйреніңіз. Бұл бейнеде ұсынылған қажетті ақпарат сізге тыныштықты сақтауға және төтенше жағдайда дұрыс шешім қабылдауға көмектеседі. Өртке дайын болыңыз - біздің бейнені қараңыз!</p>
				<!-- <div class="share">
					<ul>
						<li><h6>Поделиться:</h6></li>
						<li><a href="https://wa.me/?text=Посмотрите это видео! https://almavalley.kz/video-single_kaz.html" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
						<li><a href="https://telegram.me/share/url?url=https://almavalley.kz/video-single_kaz.html" target="_blank"><i class="fa fa-telegram"></i></a></li>
						<li><a href="https://www.instagram.com/?url=https://almavalley.kz/video-single_kaz.html" target="_blank"><i class="fa fa-instagram"></i></a></li>
					  </ul>
					  
				</div> -->
			</div>
		</div>
	</div>
	

	<footer>
		<div class="container">
			<h6>Find & follow us</h6>
			<ul class="icon-social">
				<li class="facebook"><a href="https://www.linkedin.com/company/almavalley"><i class="fa fa-linkedin"></i></a></li>
				<li class="twitter"><a href="https://wa.me/77076673710"><i class="fa fa-whatsapp"></i></a></li>
				<li class="google"><a href="almavalleyhub@gmail.com"><i class="fa fa-google"></i></a></li>
				<li class="instagram"><a href="https://instagram.com/almavalley.kz?igshid=OGQ5ZDc2ODk2ZA=="><i class="fa fa-instagram"></i></a></li>
			</ul>
			<div class="tel-fax-mail">
				<ul>
					<li><span>Tel:</span> 900000002</li>
					<li><span>Email:</span> almavalleyhub@gmail.com</li>
				</ul>
			</div>
			<div class="ft-bottom">
				<span>Copyright © 2023 All Rights Reserved by Almavalley </span>
			</div>
		</div>
	</footer>
	
	<script src="{% static 'videos/js/custom.js' %}"></script>
	<script src="{% static 'videos/js/slick.min.js' %}"></script>
	<script src="{% static 'videos/js/materialize.min.js' %}"></script>
	<script src="{% static 'videos/js/jquery.min.js' %}"></script>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
	$(document).ready(function() {
	  $(".selected-language").click(function() {
		$(".language-list").toggleClass("show");
	  });
	
	  $(document).click(function(event) {
		if (!$(event.target).closest(".language-selection").length) {
		  $(".language-list").removeClass("show");
		}
	  });
	});
	</script>	
</body>
</html>